<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.uzislam.alqalam"
      android:versionCode="1"
      android:versionName="1.0.1">
      
    <supports-screens
      android:largeScreens="true"
      android:normalScreens="true"
      android:smallScreens="false"
      android:anyDensity="true" />
          
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:theme="@android:style/Theme.NoTitleBar">
        <activity android:name=".startQalam"
                  android:label="@string/app_name"
                  android:configChanges="orientation|keyboardHidden"
				  android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
 		<activity android:name=".QuranActivity" android:configChanges="orientation|keyboardHidden" android:screenOrientation="portrait"/>
        <activity android:name=".SurahActivity" android:configChanges="keyboardHidden" />
    </application>
               
    <uses-sdk android:minSdkVersion="7" />

</manifest> 